<a href="" ng-click="logout()">Logout</a>

<h2>Welcome, {{logged}}</h2>

<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m0">
      <div class="card">
        <div class="card-content">
         
          <form>
            <div class="row">
             
              <div class="input-field col s12">
              Title:
                <input  id="title" type="text" class="validate" ng-model='new_item.title' name="title">
                <label for="name" class="active"></label>
              </div>
              <div class="input-field col s12">
              Description:
                <input  id="description" type="text" class="validate" ng-model='new_item.description' name="description">
                <label for="name" class="active"></label>
              </div>
              <div class="row">
              
               <select class="browser-default" ng-model='new_item.tagged' ng-options="user.name for user in users | filter:{_id : '!'+logged_id }">
                 <!--  <option value="" disabled selected>Select </option>
                  <option value="Drive Way">Drive way</option>
                  <option value="Garage">Garage</option>
                  <option value="Car Park">Car Park</option> -->
               </select>
            </div>

            </div>
         
            <input type="submit" class="btn" value="Add to list" ng-click='addItem()'>
          </form>
        </div>
      </div>
    </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m0">
      <div class="card">
        <div class="card-content">
         <p>Before I die I want to...</p>
  
        </div>
      </div>
    </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m0">
      <div class="card">
        <div class="card-content">
         <p>List of other users (Click to view profile)</p>
         <p ng-repeat="user in users | filter:{ _id : '!'+logged_id }"><a  href="#!/user/{{user._id}}">{{user.name}}</a></p>
  
        </div>
      </div>
    </div>
 </div>
</div>







